// Override variables here
// You can add new ones or update existing ones:

$red: #ff3860;
$highlight: $red;
$family-serif: "Proxima Nova", "Helvetica Neue", "Helvetica", sans-serif; // Add a serif family

// Override generated variables here
// For example, by default, the $danger color is $red and the font is sans-serif
// You can change these values:

$family-primary: $family-serif; // Use the new serif family

@import "node_modules/bulma/bulma";
@import "proxima-nova";

$breakpoint-phone: 512px;
$breakpoint-pad: 786px;

a {
  color: $highlight;
}

a.anchor {
  display: block;
  position: relative;
  top: -250px;
  visibility: hidden;
}

html {
  scroll-behavior: smooth;
}

body {
  font-style: normal;
  font-variant: normal;
  font-size: 12pt;
  padding-top: 250px;
}

h1 {
  font-weight: bolder;
  font-size: 24pt;
  margin-top: 0pt;
  margin-bottom: 6pt;
}

h2 {
  font-weight: bold;
  font-size: 24pt;
  margin-top: 9pt;
  margin-bottom: 15pt;
}

h3 {
  font-weight: bold;
  font-size: 14pt;
  margin-top: 24pt;
  margin-bottom: 12pt;
}

.dot {
  color: white;
  background-color: grey;
  display: inline-block;
  border-radius: 60px;
  padding: 5px;
  font-size: 10pt !important;
  box-shadow: 0px 0px 2px #888;
  margin-left: 5px;
}

.banner {
  background:
     top center
     $grey;
  background-repeat: no-repeat;
  @media (max-width: $breakpoint-pad) {
    padding-bottom: 30px;
    background-size: 110% auto;
  }
  @media (max-width: $breakpoint-phone) {
    padding-bottom: 20px;
    background-size: 140% auto;
  }
  @media (min-width: $breakpoint-pad) {
    padding-bottom: 48px;
    background-size: 100% auto;
  }
}

.header {
  position: fixed;
  top: 0; left: 0; right: 0;
  z-index: 1000;
  padding-top: 0px !important;
  text-align: left;
  background-image: url(../img/header-background.jpg);
  color: $red;
  h1 { color: white; }
}

.software-projects, .research {
  h1 {
    color: white;
    @media (max-width: $breakpoint-pad) {
      font-size: 24pt;
    }
    @media (max-width: $breakpoint-phone) {
      font-size: 18pt;
    }
    @media (min-width: $breakpoint-pad) {
      font-size: 32pt;
    }
  }
  @media (max-width: $breakpoint-pad) {
    padding-top: 80px !important;
    font-size: 16pt;
    min-height: 300px;
  }
  @media (max-width: $breakpoint-phone) {
    padding-top: 40px !important;
    font-size: 14pt;
    min-height: 200px;
  }
  @media (min-width: $breakpoint-pad) {
    padding-top: 150px !important;
    min-height: 400px;
    font-size: 18pt;
  }
  line-height: normal;
  font-weight: bold;
  color: $red;
  li {
    margin-bottom: 6px;
  }
}

.software-projects {
    text-align: left;
    background-image: url(../img/software-projects-banner.jpg);
}

.research {
  text-align: right;
  background-image: url(../img/research-banner.jpg);
}

.footer {
  background-color: #111;
  padding-bottom: 6em;
  p {
    color: white !important;
  }
  a {
    font-weight: bold;
    color : white;
  }
  a:hover {
    color: $red;
  }
}

.nav .fa {
  font-size: 14pt;
  vertical-align: middle;
  display: flex !important;
}

.nav {
  background: inherit;
  @media (max-width: $breakpoint-pad) {
    margin-bottom: 18px;
  }
  @media (max-width: $breakpoint-phone) {
    margin-bottom: 12px;
  }
  @media (min-width: $breakpoint-pad) {
    margin-bottom: 30px;
  }
}

.nav-left .nav-item {
  padding: 0.5rem 0.75rem 0.5rem 0;
}

.nav-right .nav-item {
  padding: 0.5rem 0 0.5rem 0.75rem;
}

#nav-toggle-state {
  display: none;
}

.nav-left a.nav-item:not(:hover), .header a:not(.nav-item) {
  font-weight: bold;
  color: $red;
}

a.nav-item:hover {
  color: white !important;
}

.nav-toggle:not(:hover) span {
  background-color: $red;
}

.nav-toggle:hover {
  background: inherit;
}

#nav-toggle-state:not(:checked) ~ .nav-menu a.nav-item:not(:hover) {
  color: $red;
}

#nav-toggle-state:checked ~ .nav-menu {
  display: block;
  color: white;
}

.header a:not(.fa) {
  font-weight: bold;
  text-transform: uppercase;
  @media (max-width: $breakpoint-pad) {
    font-size: 10pt !important;
    letter-spacing: 0.08em;
  }
  @media (min-width: $breakpoint-pad) {
    font-size: 12pt;
    letter-spacing: 0.1em;
  }
  margin-right: 8px;
}

.header .buttons a {
  border: 1px solid $red !important;
  @media (max-width: $breakpoint-pad) {
    padding: 6px;
  }
  @media (min-width: $breakpoint-pad) {
    padding: 8px;
  }
}

.header .buttons .inverted, .header .buttons a:hover {
  color: white;
  background-color: $red;
}

.header h1, .header h2 {
  color: white;
  text-transform: uppercase;
}

.header h1 {
  @media (max-width: $breakpoint-pad) {
    font-size: 24pt !important;
    letter-spacing: 0.1em;
  }
  @media (max-width: $breakpoint-phone) {
    font-size: 18pt !important;
    letter-spacing: 0.08em;
  }
  @media (min-width: $breakpoint-pad) {
    font-size: 32pt;
    letter-spacing: 0.16em;
  }

  margin-bottom: 0;
  line-height: 24pt;
}

.header h2 {
  @media (max-width: $breakpoint-pad) {
    font-size: 13pt !important;
    letter-spacing: 0.06em;
  }
  @media (max-width: $breakpoint-phone) {
    font-size: 10pt !important;
    letter-spacing: 0.04em;
  }
  @media (min-width: $breakpoint-pad) {
    font-size: 18pt;
    letter-spacing: 0.1em;
  }
  margin-bottom: 12pt;
}

.header .buttons {
  margin-top: 20px;
}

.figure {
  padding-top: 24px;
  padding-bottom: 24px;
  text-align: center;
}

.uses {
  font-family: monospace;
}

.uses span {
  color: $highlight;
  font-weight: bold;
}

p {
  margin-bottom: 6px;
}

p .fa {
  line-height: 1.7;
}

p .fa-file {
  font-size: 13px;
  line-height: 2;
}

.youtube-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    margin-bottom: 12px;
}
.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.pubs {
    display: none;
}

.toggle {
  margin-right: 5px;
  line-height: 1.4 !important;
}

.label {
    padding: 1px 4px 2px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    display: inline;
}
.label {
    font-size: 11.844px;
    font-weight: bold;
    line-height: 14px;
    color: #ffffff;
    vertical-align: baseline;
    white-space: nowrap;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #999999;
}

.pub-year {
  display: none;
}

.pubs li {
  margin-bottom: 9px;
}

.pubs h3 {
  margin: 18px 0 12px 0;
}

.cv li {
  padding: 0 0 12px;
  list-style: square;
}

.cv ul {
    list-style: none;
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 20px;
    vertical-align: baseline;
}
